################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AskMe.APP/bin
/AskMe.APP/obj

/AskMe.API/bin
/AskMe.API/obj

