################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/AskMe.API/obj/
/AskMe.APP/obj/

/AskMe.API/bin/
/AskMe.APP/bin/

/AskMe.API/appsettings.Development.json
/AskMe.API/appsettings.Production.json
/AskMe.API/appsettings.Staging.json
/AskMe.API/appsettings.json



